<ion-tabs>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <!-- Buscar -->
    <ion-tab-button tab="search">
      <ion-icon name="search-outline" size="large"></ion-icon>
    </ion-tab-button>

    <!-- Home central -->
    <ion-tab-button tab="home" class="home-tab">
      <ion-icon name="home-outline" size="large"></ion-icon>
    </ion-tab-button>

    <!-- Favoritos Esto es un boton-->
    <ion-tab-button tab="favorites"> 
      <ion-icon name="bookmark-outline" size="large"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
